<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> nu s-a putut face salvarea:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    Utlizator<br />
    <%= f.text_field :username %>
  </div>
   <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
    <div class="field">
      <%= f.label :password, "Parola" %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmare parola" %><br />
      <%= f.password_field :password_confirmation %>
    </div>

  <div class="actions">
    <%= f.submit "Salveaza" %>
  </div>
<% end %>

